  <footer class="page-footer light-blue darken-3">
	<div class="container">
	  <div class="row">
		<div class="col l6 s12">
		  <h5 class="white-text">About NEMU</h5>
		  <p class="grey-text text-lighten-4">
		  	NEMU is a computer-assisted learning website that integrated with the Visual Programming Environment. This website is a product from research with the title “NEMU: Visual Programming Environment as Supporting Learning Process of Basic Programming Subject at Vocational High School” by Noor Octavian Anwar, Triyanna Widiyaningtyas, Utomo Pujianto, from State University of Malang, Indonesia, and Hiroshi Okumura from Saga University, Japan.
		  	</p>
		</div>
		{# 
		<div class="col l3 s12">
		  <h5 class="white-text">Settings</h5>
		  <ul>
			<li><a class="white-text" href="#!">Link 1</a></li>
			<li><a class="white-text" href="#!">Link 2</a></li>
			<li><a class="white-text" href="#!">Link 3</a></li>
			<li><a class="white-text" href="#!">Link 4</a></li>
		  </ul>
		</div>
		 #}
		<div class="col l3 offset-l3 s12">
		  <h5 class="white-text">Pages</h5>
		  <ul>
			<li><a class="white-text" href="{{path_for('home')}}"><b>Home</b></a></li>	
			<li><a class="white-text" href="{{path_for('playground')}}"><b>Playground</b></a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="footer-copyright">
	  <div class="container" align="center">
	  Developing by <a class="orange-text text-lighten-3" target="_blank" href="https://arrokhs.wordpress.com/about-me/">Noor Octavian Anwar</a>
	  </div>
	</div>
  </footer>